<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">

<body>

<div>
    <th:block layout:fragment="content">
        <h1>All projects</h1>
        <!--/*@thymesVar id="projects" type="java.util.List<Project>"*/-->
        <div th:if="${projects}">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>File Name</th>
                    <th>Upload</th>
                </tr>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.id}"></td>
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.fileName}"></td>
                    <td><a href="#" th:href="@{/projects/{id}(id=${project.id})}">Upload</a></td>
                </tr>
            </table>
        </div>
    </th:block>
</div>

</body>
</html>
